.container {
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .icon {
    opacity: 0.6;
    cursor: pointer;
  }
  